<!doctype html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <title>اضافه کردن سوال</title>
</head>
<body  align='center'>
    <h1 align='center'>لطفا سوال جدید وارد کنید</h1>
    <form method="POST">
        <select id='category' name="category" required>
            <option value="">لطفا انتخاب کنید</option>
            <option value="math">ریاضی</option>
            <option value="movie">فیلم و سریال</option>
            <option value="soccer">فوتبال</option>
            <option value="game">گیم</option>
            <option value="historical">تاریخ</option>
            <option value="general_information">اطلاعات عمومی</option>
            <option value="english">زبان</option>
        </select>
        <label for="category">:دسته بندی</label><br>

        <label for="text">متن سوال:</label><br>
        <textarea cols='35' rows='3'style="resize: none;text-align: right;" type="text" id="text" name="text" required></textarea><br><br>

        <label for="option1">گزینه 1:</label><br>
        <textarea cols='35' style="resize: none;text-align: right;" type="text" id="option1" name="option1" required></textarea><br><br>

        <label for="option2">گزینه 2:</label><br>
        <textarea cols='35' style="resize: none;text-align: right;" type="text" id="option2" name="option2" required></textarea><br><br>

        <label for="option3">گزینه 3:</label><br>
        <textarea cols='35' style="resize: none;text-align: right;" type="text" id="option3" name="option3" required></textarea><br><br>

        <label for="option4">گزینه 4:</label><br>
        <textarea cols='35' style="resize: none;text-align: right;" type="text" id="option4" name="option4" required></textarea><br><br>

        <label for="correct_answer">پاسخ صحیح:</label><br>
        <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
            <input type="radio" class="btn-check" name="correct_answer" value="1" id="correct_answer1" autocomplete="off" checked>
            <label class="btn btn-outline-danger" for="correct_answer1">گزینه 4</label>
            <input type="radio" class="btn-check" name="correct_answer" value="4" id="correct_answer2" autocomplete="off">
            <label class="btn btn-outline-danger" for="correct_answer2">گزینه 3</label>
            <input type="radio" class="btn-check" name="correct_answer" value="3" id="correct_answer3" autocomplete="off">
            <label class="btn btn-outline-danger" for="correct_answer3">گزینه 2</label>
            <input type="radio" class="btn-check" name="correct_answer" value="2" id="correct_answer4" autocomplete="off">
            <label class="btn btn-outline-danger" for="correct_answer4">گزینه 1</label>
        </div>
        <button type="submit">اضافه کردن سوال</button>
    </form>
    <br>
    <a href="/question">بازگشت به صفحه سوالات</a>
</body>
</html>