<!doctype html>
<html align="center" lang="fa">
<head>
    <meta charset="utf-8">
    <title>مدیریت و مشاهده سوالات</title>
</head>
<body>
    <h1>مدیریت و مشاهده سوالات</h1>
    <form method="POST">
        <select id='category' name="category" required>
            <option value="">لطفا انتخاب کنید</option>
            <option value="math">ریاضی</option>
            <option value="movie">فیلم و سریال</option>
            <option value="soccer">فوتبال</option>
            <option value="game">گیم</option>
            <option value="historical">تاریخ</option>
            <option value="general_information">اطلاعات عمومی</option>
            <option value="english">زبان</option>
        </select>
        <label for="category">:دسته بندی سوال</label><br>
            <button type='submit'>ادامه</button>
    </form>
    
        </ul>
    </ul>
</body>
</html>