<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body align="center" style="background-color: #3a3a3ab0;">
    <h1>Welcome to your Dashboard, {{ username }}!</h1>

    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <p style="color: rgba(0, 255, 0, 0.808)">{{ message }}</p>
    {% endfor %} {% endif %} {% endwith %}
    <br />
  </body>
</html>
{% endblock %}
{% block nav %}
  <li><a href="/user_question">Start the quiz</a></li>
  <li><a href="selectstats">Show stats</a></li>
{% endblock %}