<!doctype html>
{% extends "layout.html" %}
{% block content %}
<html align="center" lang="en">
<head>
    <meta charset="utf-8">
    <title>Stats Category</title>
</head>
<body style="background-color: #3a3a3ab0;">
    <h1>View Your Stats</h1>
    <form method="POST">
            <label for="category">Category:</label>
        <select id='category' name="category" required>
            <option value="">Please choose</option>
            <option value="math">Math</option>
            <option value="movie">Movie</option>
            <option value="soccer">Soccer</option>
            <option value="game">Game</option>
            <option value="historical">History</option>
            <option value="general_information">General information</option>
        </select>
            <br><button type='submit'>Go!</button></br>
    </form>
    
        </ul>
    </ul>
</body>
</html>
{% endblock %}
{% block nav %}
  <li><a href="user_question">Start the quiz</a></li>
  <li><a href="selectstats">Show stats</a></li>
{% endblock %}
